@media screen and (min-width: 800px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    .container > .teste2{
        width: 50%;
    }

    .container > .teste2 > #timage{
        width: 100%;
        height: 100%;
    }

    .container > .teste1 {
        width: 50%;
        padding-left: 100px;
    }

    .footer{
        height: 50px;
    }

    
}

