*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container > .teste1{
    padding-left: 5%;
    height: 100vh;
}

.container > .teste2 > #timage{
    width: 100%;
}

.logo{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 70px;
}

.logo > img{
    width: 40px; 
    height: 35px;
}

.titles{
    width: 90%;
    font-size: 20px;
}

.titles > h3{
    margin-top: 40px;
    margin-bottom: 15px;
}

.signup-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
}

.access > div > button{
    width: 300px;    
    height: 40px;
    border: 1px solid #AAB8C2;
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.terms-conditions{
    font-size: 10px;
    width: 330px;
    margin-bottom: 70px;
}

.sigin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 45px;
}

#btn-signin{
    color: #1DA1F2;
}

.twitter-white-color{
    background-color: #FFF;
}

.twitter-blue-color{
    background-color: #1DA1F2;
    color: #fff;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: #71767B;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 90%;
    margin: 10px 0;
    height: 100px;
    align-items: center;
}

.footer > div > a{
    text-decoration: none;
    color: #71767B;
}






